@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
    height: 8.5vh;
    box-shadow: 0vh 0.5vh 2vh rgba(0, 0, 0, 0.5);
    position: relative; 
    z-index: 1;
}

.paginaInicial {
    background-color: blue;
    height: 83vh;
    display: flex;
    background-image: url(/img//fundos/fundoInicial.png);
    background-size: cover;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: white;
    font-size: 5.8vh;
}

h4 {
    color: white;
    font-size: 3vh; 
}

.img1 {
    height: 21vh;
    width: 19vw;
    background-color: antiquewhite;
    border-radius: 2.8vh;
}

.img2 {
    height: 21vh;
    width: 10vw;
    background-color: orange;
    border-radius: 2.8vh;
}

.imgInicial {
    display: flex;
    width: 30vw;
    height: 46vh;
    flex-wrap: wrap;
    justify-content: space-between;

}

.cabecalho {
    width: 27vw;
    display: flex;
    justify-content: space-between;
    margin-right: 3vw;
}

#phiHeader {
    margin-left: 3vw;
}

h2 {
    color: #255FA0;
    font-size: 5.3vh;
}

.sobre {
    margin-top: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 3.1vh;
    line-height: 5.1vh;
}

.sobre p {
    width: 75vw;
    text-align: justify;
}

.imgSobre {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    margin-top: 8vh;
    height: 35vh;
}

.img4 {
    background-color: lightblue;
    width: 16vw;
    height: 28.5vh;
    border-radius: 2.8vh;
    box-shadow: 0vh 1vh 1vh #00000067;
}

.img3 {
    margin-top: 8vh;
    background-color: lightblue;
    width: 15vw;
    height: 26vh;
    border-radius: 2.8vh;
    box-shadow: 0vh 1vh 1vh #00000067;
}

.nome {
    font-size: 2.3vh;
    line-height: 2.7vh;
}

.caixaProf p {
    margin: 1vh 0 2vh 0;
}

.caixaProf {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    border-radius: 2.8vh;
    width: 26.5vw;
    height: 26vh;
}

.foto1, .foto2, .foto3 {
    background-color: rgb(0, 0, 0);
    width: 7vw;
    height: 7vw;
    border-radius: 50vw;
    margin-right: 1vw;
    margin-left: 1.5vw;
}

.caixaProf button {
    border: none;
    background-color: #1C3C61;
    font-size: 1vw;
    width: 10vw;
    height: 5vh;
    border-radius: 2.8vh;
    color: #F5F5F5;
    margin-top: 1vh;
}

.cardProf {
    display: flex;
    width: 58vw;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 61vh;
    margin-left: 20%;
    margin-top: 8vh;
}

.infoProfs {
    width: 15vw;
    padding-bottom: 2vh;
}

.professores {
    margin-top: 12vh;
    text-align: center;
}

.conteudoEquipamentos {
    display: flex;
    justify-content: space-between;  
    width: 80vw;
    height: 85vh;
    align-items: center;
}

.opcoes button {
    font-size: 1.5vw;
    padding-top: 5vh;
    padding-bottom: 7vh;
    width: 18vw;
    text-align: justify;
    background: none;
    border: none;
}

.opcoes {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 50vh;
}

#bch {
    border-top: solid 0.4vh #1C3C61;
    border-bottom: solid 0.4vh #1C3C61;
}

#bcp {font-weight: bold; color:#1C3C61; padding-top: 0;}

.infoBCP, .infoBCH, .infoBMF {
    width: 29vw;
    text-align: justify;
}

.infoBCP h2, .infoBCH h2, .infoBMF h2 {
    font-size: 1.8vw;
    margin-top: 0;
}

.equipamentos, .disciplinas {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cursos {
    margin-top: 2vh;
}

summary {
    color: #1F1F1F;
    font-size: 1.7vw;
    line-height: 7.5vh;
    font-weight: bold;
}

ul summary {
    font-size: 1.4vw;
    font-weight: bold;
}

ul p, ul a {
    text-align: justify;
    line-height: 4vh;
    font-size: 1.15vw;
    width: 50vw;
    margin: 0 0 0 4vw;
}
 
ul {list-style-type: none}

li p {
    display: flex;
    align-items: center;
}

.slider, .slidBCP, .slidBCH, .slidBMF {
    width: 25vw;
    height: 67vh;
    overflow: hidden;
}

.slides, .slidBCP, .slidBCH, .slidBMF {
    display: flex;
    width: 300vw;
}

.navigation {
    position: relative;
    display: flex;
    bottom: 30px;
    left: 140px;
}

.bar {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    border: 2px white solid;
    background-color: white;
    cursor: pointer;
}

.bar:hover {
    background-color: #D9D9D9;
    border: 2px #D9D9D9 solid;
}

input {
    display: none;
}

.slid {
    width: 25vw;
    transition: .5s;
}

.slid img {
    width: 25vw;
    height: 67vh;
}

#radio1:checked ~ .slidBCP .first {
    margin-left: 0;
}

#radio2:checked ~ .slidBCP .first{
    margin-left: -25vw;
}

#radio3:checked ~ .slidBCP .first {
    margin-left: -50vw;
}

.footer {
    background-color: #0b2542;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    justify-content: center;
    margin-top: 10vh;
}

.footer img {
    width: 3vw;
    margin: 0;
}

#produzido {
    color:orangered;
    margin: 0;
    font-size: 1rem;
}

.footer p {
    color: white;
    margin: 0;
    font-size: 1rem;
}